.root {
    -fx-spacing: 10;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-pref-height: 600;
    -fx-pref-width: 800;
    -fx-background-color: #0d0b33;
    -fx-text-fill: #ffffff;
}

/* Style for the gamePane */
.game-pane {
    -fx-background-image: url("animation/bg.gif");

    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;

    -fx-padding: 20px; /* Add padding around the pane */
    -fx-hgap: 5;
    -fx-vgap: 5;
    /*-fx-alignment: center;*/
}
.current-score {
    -fx-font-size: 31;
    /*-fx-font-weight: bold;*/
    -fx-text-fill: #A3FFD6;
    -fx-font-family: Valorax;
}

.time-spent {
    -fx-font-size: 13;
    /*-fx-font-weight: medium;*/
    -fx-text-fill: #ffffff;
    -fx-font-family: Futura;
}

.user-nickname {
    -fx-font-size: 15;
    /*-fx-font-weight: medium;*/
    -fx-text-fill: #ffffff;
    -fx-font-family: Futura;
}

.instruct-banner {
    -fx-font-size: 20;
    /*-fx-font-weight: medium;*/
    -fx-text-fill: #ffffff;
    -fx-font-family: Futura;
}
/* Style for the ghost circles */
.ghost-circle {
    -fx-graphic: url("animation/ghost.gif");
    -fx-font-family: Futura; /* Set font family */
    -fx-font-size: 15px; /* Set font size */
    -fx-text-fill: #fdf0d5; /* Set text color */
}

/* Style for the ghost labels */
.ghost-label {

}

.remaining-lives {
    -fx-font-size: 13;
    /*-fx-font-weight: medium;*/
    -fx-text-fill: #ffffff;
    -fx-font-family: Futura;
}
.pause {
    -fx-background-color: #8576FF;
    -fx-text-fill: #A3FFD6;
    -fx-font-family: Futura;
}

.stop {
    -fx-background-color: #8576FF;
    -fx-text-fill: #A3FFD6;
    -fx-font-family: Futura;
}

.health-bar{
    -fx-accent: #8576FF;
    -fx-background-color: #8576FF;
}

.health-label{
    -fx-background-color: transparent;
    -fx-text-fill: #A3FFD6;
    -fx-font-family: Futura;
}

.user-type-box{
    -fx-background-color: #A3FFD6;
    -fx-text-fill:#8576FF;
    -fx-font-family: Futura;
    -fx-pref-width: 331;
    -fx-max-width: 331;
}

.level-label{
    -fx-text-fill: #A3FFD6;
    -fx-font-family: Futura;
}