.root {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-pref-height: 600;
    -fx-pref-width: 800;
    -fx-background-color: #0d0b33;
}

/* Style for the gamePane */
.game-pane {
    -fx-background-image: url("animation/background.png");

    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;

    -fx-padding: 20px; /* Add padding around the pane */
    -fx-hgap: 5;
    -fx-vgap: 5;
    /*-fx-alignment: center;*/
}
.current-score {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-family: ;
}
/* Style for the ghost circles */
.ghost-circle {
    -fx-fill: white; /* Set fill color for the circle */
    -fx-font-family: "Arial"; /* Set font family */
    -fx-font-size: 12px; /* Set font size */
    -fx-text-fill: black; /* Set text color */
}

/* Style for the ghost labels */
.ghost-label {

}

.main-character {

}